@model PaginationVM<IEnumerable<AdminSliderListItemVM>>


<div class="card-body">
    <div class="row align-items-center">
        <div class="col-md-6">
            <nav aria-label="Page navigation example">
                <ul id="prod-pag" class="pagination">
                    <li class="page-item @(Model.HasPre ? "" : "disabled")"><a class="page-link" asp-action="SliderPagination" asp-route-page="@(Model.CurrentPage - 1)" asp-route-count="5">Previous</a></li>
                    @for (int i = 1; i <= Model.LastPage; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")"><a class="page-link" asp-action="SliderPagination" asp-route-page="@i" asp-route-count="5">@i</a></li>
                    }
                    <li class="page-item @(Model.HasNext ? "" : "disabled")"><a class="page-link" asp-action="SliderPagination" asp-route-page="@(Model.CurrentPage + 1)" asp-route-count="5">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="table-view table-responsive pt-3 table-space">
        <table class="data-tables table movie_table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Movie</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Any())
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                #@item.Movie.ImdbId
                            </td>
                            <td>
                                <img src="@item.ImageUrl" style="height: 60px;"/>
                            </td>
                            <td>
                                <div class="d-flex align-items-center list-user-action">
                                    <a asp-action="Update" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-icon btn-success rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                        <i class="fa-solid fa-pen" data-bs-toggle="offcanvas" data-bs-target="#season-offcanvas-edit" aria-controls="season-offcanvas-edit"></i>
                                    </a>
                                    <form method="post">
                                        <button type="submit" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-icon btn-danger rounded">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="9">No data</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

