@using MovieRental.Business.ViewModels.UserVMs

@model UserProfileVM

<section class="section-padding-bottom">
    <div class="profile-box">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="d-flex align-items-center gap-3">
                    <div class="account-logo d-flex align-items-center position-relative">
                        @if(Model.ProfileImageUrl == null)
                        {
                            <img src="~/assets/images/blankProfilePhoto.png" class="img-fluid object-cover rounded-3" alt="profile">
                        }
                        else
                        {
                            <img src="@Model.ProfileImageUrl" class="img-fluid object-cover rounded-3" alt="profile">
                        }
                    </div>
                    <div>
                        <h6 class="font-size-18 text-white fw-500">@Model.Username</h6>
@*                         <span class="font-size-14 text-white fw-500">@Model.</span>
 *@                    </div>
                </div>
                <div class="iq-button">
                    <a href="pricing-plan.html" class="btn text-uppercase position-relative">
                        <span class="button-text">Subscription</span>
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .divider {
            border-left: 6px solid white;
            height: 500px;
            margin : 30px;
        }

        .activities{
            width : 50%;
        }
    </style>
    @if (Model.IsPublic)
    {
    <div class="tabs">
        <div class="container-fluid d-flex justify-content-between">
            <div class="content-details iq-custom-tab-style-two">
                <ul class="d-flex justify-content-center nav nav-pills tab-header" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active show" data-bs-toggle="pill" href="#watchlist" role="tab" aria-selected="true">Watchlist</a>
                    </li>
                </ul>
                <div class="tab-content px-0">
                    <div id="watchlist" class="tab-pane animated fadeInUp active show" role="tabpanel">
                        <div class="overflow-hidden">
                            <div class="d-flex align-items-center justify-content-between my-4">
                                <h5 class="main-title mb-0">@Model.Username's watchlist</h5>
                            </div>
                            <div class="row">
                                <div class="col mb-4">
                                    <div class="watchlist-warpper card-hover-style-two">
                                        <div class="block-images position-relative w-100">
                                            <div class="img-box">
                                                <a asp-action="WatchList" asp-route-username="@Model.Username" class="position-absolute top-0 bottom-0 start-0 end-0"></a>
                                                <img src="~/assets/images/movies/playlist/01.webp" alt="movie-card" class="img-fluid object-cover w-100 d-block border-0">
                                            </div>
                                            <div class="card-description">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-1 font-size-12">
                                                        <i class="fa-solid fa-earth-americas text-primary"></i>
                                                        <span class="text-body fw-semibold text-capitalize">Public</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    }
    else{
    <div class="tabs">
        <div class="container-fluid">
            <div class="form-control">
            <p>This account is private</p>
            </div>
        </div>
    </div>
    }
</section>


  </main>

