@using MovieRental.Areas.Admin.ViewModels.UserVMs
@using MovieRental.Business.ViewModels.CommonVMs
@using MovieRental.Business.ViewModels.MovieVMs
@model PaginationVM<IEnumerable<UserListItemVM>>


<div class="card-body">
    <div class="row align-items-center">
        <div class="col-md-6">
            <nav aria-label="Page navigation example">
                <ul id="prod-pag" class="pagination">
                    <li class="page-item @(Model.HasPre ? "" : "disabled")"><a class="page-link" asp-action="UserPagination" asp-route-page="@(Model.CurrentPage - 1)" asp-route-count="5">Previous</a></li>
                    @for (int i = 1; i <= Model.LastPage; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")"><a class="page-link" asp-action="UserPagination" asp-route-page="@i" asp-route-count="5">@i</a></li>
                    }
                    <li class="page-item @(Model.HasNext ? "" : "disabled")"><a class="page-link" asp-action="UserPagination" asp-route-page="@(Model.CurrentPage + 1)" asp-route-count="5">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="table-view table-responsive pt-3 table-space">
        <table class="data-tables table movie_table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ProfileImage</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Comments</th>
                    <th>Reviews</th>
                    <th>Posts</th>
                    <th>IsPublic</th>
                    <th>JoinedTime</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Any())
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                <div style="width: 35px; height: 35px; overflow: hidden; border-radius: 50%;">
                                    @if(item.ProfileImageUrl != null)
                                    {
                                        <img src="~/images/profile/@item.ProfileImageUrl" class="icon-18" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" alt="Profile Image">
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/blankProfilePhoto.png" class="icon-18" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" alt="Profile Image">
                                    }
                                </div>
                            </td>
                            <td>
                                @item.Username
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Surname
                            </td>
                            <td>
                                @item.Comments.Count()
                            </td>
                            <td>
                                @item.Reviews.Count()
                            </td>
                            <td>
                                @item.Posts.Count()
                            </td>
                            <td>
                                @item.IsPublic
                            </td>
                            <td>
                                @item.JoinedTime.ToString("dd MMMM yyyy")
                            </td>
                            <td>
                                <div class="d-flex align-items-center list-user-action">
                                    <a asp-action="Update" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-icon btn-success rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                        <i class="fa-solid fa-pen" data-bs-toggle="offcanvas" data-bs-target="#season-offcanvas-edit" aria-controls="season-offcanvas-edit"></i>
                                    </a>
                                    <form method="post">
                                        <button type="submit" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-icon btn-danger rounded">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="9">No data</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

